form#form-login {
	width: 320px;
}

fieldset#caixa-login {
	display: block;
	float: right;
	border-radius: 5px;
	margin-left: 30px;
}

label#link-cadastro {
	font-size: 11px;
}

input, select {
    font-size: 15px;
    padding: 2px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

label {
	font-weight: bold;
}