@charset "UTF-8";

table.agendamento {
  border: 2px solid #FFFFFF;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.agendamento td, table.agendamento th {
  border: 1px solid #FFFFFF;
  padding: 3px 4px;
}
table.agendamento tbody td {
  font-size: 13px;
}
table.agendamento td:nth-child(even) {
  background: #EBEBEB;
}
table.agendamento thead {
  background: #FFFFFF;
  border-bottom: 4px solid #333333;
}
table.agendamento thead th {
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  border-left: 2px solid #333333;
}
table.agendamento thead th:first-child {
  border-left: none;
}
